<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E-Commerce Regression Tests">
    <test verbose="2" preserve-order="true" name="C:/Users/Lenovo/IdeaProjects/Automation_Study">

        <classes>
            <class name="tests.LoginSignUpTest"/>
            <class name="tests.ContactUsTest"/>
        </classes>
    </test>
</suite>
